.client {
    min-height: 100vh;
    max-width: 500px;
    width: 100%;
    padding: 40px 20px;
    h1, h2 {
        text-align: center;
    }
    .clientInfo {
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        padding: 24px;
        border-radius: 8px;
        input {
            height: 24px;
            width: 100%;
            font-size: 18px;
            padding: 8px;
            border-radius: 8px;

        }
    }
    .clientActions {
        display: flex;
        justify-content: space-around;
        margin-top: 8px;
        button {
            padding: 4px 8px;
            border-radius: 5px;
            background-color: lightblue;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            &:hover {
                box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
                background-color: rgb(150, 210, 231);
            }
            &:active {
                background-color: rgb(85, 193, 230);
                scale: 0.9;
            }
        }
    }
}