.clientsList {
    width: 100%;
    height: 400px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow-y: scroll;
}