.clientAdd {
    width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    .clientAddInput {
        width: 100%;
        height: 32px;
        font-size: 16px;
        padding: 4px;
        border: 1px solid lightgrey;
        border-radius: 5px;
    }
    .clientAddBtn {
        width: 70px;
        padding: 5px;
        margin: 10px auto 0 auto;
        border-radius: 5px;
        background-color: lightblue;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        &:hover {
            box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
            background-color: rgb(150, 210, 231);
        }
        &:active {
            background-color: rgb(85, 193, 230);
            scale: 0.9;
        }
    }
}