.clientItem {
    width: 180px;
    height: fit-content;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    text-decoration: none;
    color: black;
    &:hover {
        scale: 1.05;
        background-color: #f4f2f2;
    }
    .clientProperty {
        margin-bottom: 8px;
        span {
            font-size: 8px;
        }
        p {
            margin-left: 4px;
            padding: 4px 8px;
            background-color: white;
            border-radius: 4px;
        }
    }
}